@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Playwrite+FR+Trad+Guides&display=swap');

:root {
  --azul: #3a3ef4;           
  --azul-secundario: #4c41eb; 
  --preto: #0f1216;       
  --grafite: #1a1f26;     
  --cinza: #1c1c1d;       
  --cinza-light: #e4e6eb; 
  --texto: #f5f7fa;       
  --vermelho: #e10600;
  --vermelho-secundario: #b00000;
}


/*Fontes*/
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif; font-weight: 400;font-style: normal;}
.cinzel-decorative-bold {font-family: "Cinzel Decorative", serif; font-weight: 700; font-style: normal;}
.cinzel-decorative-black {font-family: "Cinzel Decorative", serif; font-weight: 900;font-style: normal;}

/*claro*/
.light {
  --preto: #a7a7a7;         
  --grafite: #f5f5f5;       
  --cinza: #e0e0e0;
  --cinza-light: #333333;
  --texto: #ffffff;
   --azul: #e10600;         
  --azul-secundario: #b00000;
    .preenchimento {
        background-color: var(--vermelho);
    }
    a img{
        width: 70px;
        height: 70px;
    }
}

#themeIcon {
  background-color: var(--azul);
  color: white;
  border: none;
  padding: 6px 8px;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.3s;

}

nav button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

#themeIcon:hover {
  background-color: var(--azul-secundario);
  transform: scale(1.05);
}

/*site*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*animação loading*/
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader p {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--cinza-light);
    font-size: 1.5rem;
    animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
    0% {
        opacity: 0;
        transform: translateY(-12px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-12px);
    }
}


.barra {
    width: 320px;
    height: 10px;
    background-color: var(--cinza);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 1rem;
}

.preenchimento {
    width: 0;
    height: 100%;
    background-color: var(--azul);
    animation: loadingBar 2.5s linear infinite;
}

@keyframes loadingBar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/*animação2*/
.loading2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.move{
    position: absolute;
    top: 50%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    animation: mover 2s alternate infinite;
}

@keyframes mover{
    0%{
        transform: translateX(-400%);
    }

    100%{
        transform: translateX(300%)
    }
}


/*inicio*/
body{
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    background-color: var(--preto);
    color: var(--texto);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=228788"), auto;
}

header{
    background-color: var(--grafite);
    border-bottom: 2px solid var(--azul);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.container-header-conteudo {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main{
    flex: 1;
    padding: 2rem;
    padding-top: 115px;
    background: linear-gradient(1325deg, var(--preto) 0%, var(--grafite) 100%);

}


h1.logo {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--cinza-light);
    animation: floating 1.8s ease-in-out infinite;
    text-align: center;
     position: absolute;
    left: 38%;
}

@keyframes floating {
    0% {
        transform: translate(0px, 2px);
    }
    25% {
        transform: translate(-6px, 1px);
    }
    50% {
        transform: translate(0px, -3px);
    }
    75% {
        transform: translate(6px, -1px);
    }
    100% {
        transform: translate(0px, 2px);
    }
}

a{
    text-decoration:none;
    color: var(--cinza-light);
}

a:hover {
    color: var(--azul);
    text-decoration: underline;
    transition: color 0.3s;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=228789"), auto;
}


a img {
    text-decoration: underline;
    transition: color 0.3s;
    animation: floating2 3s ease-in-out infinite;
    width: 70px;
    height: 70px;
}

a img:hover {
    transform: scale(1.2);
    animation-play-state: paused;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=228796"), auto;
}

@keyframes floating2 {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}


.navegacao{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.container-pesquisa-conteudo{
    justify-content: center;
    gap: 0.5rem;
    display: flex;
    padding: 1rem;
}

.container-pesquisa-conteudo input{
    width: 30%;
    padding: 3 rem;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: var(--cinza);
    color: var(--texto);
    text-align: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=228793"), auto;
}

.container-pesquisa-conteudo input::placeholder{
    color: var(--cinza-light);
    font-style: italic;
}

.pesquisa-button{
    background-color: var(--azul);
    border: none;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa-button:hover{
    background-color: var(--azul-secundario);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=228789"), auto;
}

.footer{
    padding: 1rem;
    border-top: 2px solid var(--azul);
    text-align: center;
    color: var(--cinza-light);
    background-color: var(--preto);
}

p.footer {
    margin: 1rem;
    font-size: 0.8rem;
}

/*cards*/
#filmesGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    transition: opacity 0.3s ease, transform 0.3 ease;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 2px var(--azul-secundario);
    border-radius: 10px;
    gap: 1rem;
    position: relative; 
    overflow: hidden; 
}


.card:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=228789"), auto;
}

.card img{
    height: 500px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3, 
.card p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    opacity: 0;
}


/*detalhes*/
.detalhe-card {
    display: flex;              
    align-items: center;
    justify-content: space-between; 
    padding: 1rem;
    gap: 20px;                  
    background-color: var(--azul); 
    color: var(--texto);
    border-radius: 5px;
}

.detailsContainer img {
    max-width: 500px;           
    height: auto;               
}

.detailsContainer .text {
    flex: auto;                    
}


.fade-in{
    opacity: 0;
    transform: translateY(10px);
}

.fade-out{
    opacity: 1;
    transform: translateY(0);
}



/*responsivo (arrumar depois)*/
@media (max-width: 480px) {
    .container-header-conteudo {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .container-pesquisa-conteudo input {
        width: 80%;
        padding: 0.5rem;
    }

    #filmesGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 1rem;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    main {
        padding: 1rem;
        padding-top: 150px;

    }

    .logo span{
        display: none;
    }
}



