@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Playwrite+FR+Trad+Guides&display=swap');

:root {
  --azul: #3a3ef4;           
  --azul-secundario: #4c41eb; 
  --preto: #0f1216;       
  --grafite: #1a1f26;     
  --cinza: #1c1c1d;       
  --cinza-light: #e4e6eb; 
  --texto: #f5f7fa;       
  --vermelho: #e10600;
  --vermelho-secundario: #b00000;
}


/*Fontes*/
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif; font-weight: 400;font-style: normal;}
.cinzel-decorative-bold {font-family: "Cinzel Decorative", serif; font-weight: 700; font-style: normal;}
.cinzel-decorative-black {font-family: "Cinzel Decorative", serif; font-weight: 900;font-style: normal;}

/*claro*/
.light {
  --preto: #a7a7a7;         
  --grafite: #f5f5f5;       
  --cinza: #e0e0e0;
  --cinza-light: #333333;
  --texto: #ffffff;
   --azul: #e10600;         
  --azul-secundario: #b00000;
    .preenchimento {
        background-color: var(--vermelho);
    }
    a img{
        width: 70px;
        height: 70px;
    }
}

#themeIcon {
  background-color: var(--azul);
  color: white;
  border: none;
  padding: 6px 8px;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.3s;

}

nav button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

#themeIcon:hover {
  background-color: var(--azul-secundario);
  transform: scale(1.05);
}

/*site*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*animação loading*/
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader p {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--cinza-light);
    font-size: 1.5rem;
    animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
    0% {
        opacity: 0;
        transform: translateY(-12px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-12px);
    }
}


.barra {
    width: 320px;
    height: 10px;
    background-color: var(--cinza);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 1rem;
}

.preenchimento {
    width: 0;
    height: 100%;
    background-color: var(--azul);
    animation: loadingBar 2.5s linear infinite;
}

@keyframes loadingBar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/*animação2*/
.loading2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.move{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    animation: mover 2s alternate infinite;
}

@keyframes mover{
    0%{
        transform: translateX(300%);
    }

    100%{
        transform: translateX(-400%)
    }
}

/*inicio*/
body{
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    background-color: var(--preto);
    color: var(--texto);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=228788"), auto;
}

header{
    background-color: var(--grafite);
    border-bottom: 2px solid var(--azul);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.container-header-conteudo {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

main{
    flex: 1;
    padding: 2rem;
    padding-top: 115px;
    background: linear-gradient(1325deg, var(--preto) 0%, var(--grafite) 100%);

}


h1 {
    position: relative; 
    left: 5%;
    margin: 0 auto;  
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    color: var(--cinza-light);
    animation: floating 1.8s ease-in-out infinite;
    text-align: center;
}

@keyframes floating {
    0% {
        transform: translate(0px, 2px);
    }
    25% {
        transform: translate(-6px, 1px);
    }
    50% {
        transform: translate(0px, -3px);
    }
    75% {
        transform: translate(6px, -1px);
    }
    100% {
        transform: translate(0px, 2px);
    }
}

.navegacao {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.navegacao a {
    text-decoration: none;
    color: var(--cinza-light);
    transition: color 0.3s;
}
.navegacao a:hover {
    color: var(--azul);
    text-decoration: underline;
}

a img {
    width: 70px;
    height: 70px;
    animation: floating2 3s ease-in-out infinite;
    transition: transform 0.3s; /* transição para o scale no hover */
}

a img:hover {
    transform: scale(1.2);
    animation-play-state: paused;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=228796"), auto;
}

/* Animação flutuante */
@keyframes floating2 {
    0% { transform: scale(0.9); }
    50% { transform: scale(1.1); }
    100% { transform: scale(0.9); }
}

.container-pesquisa-conteudo{
    justify-content: center;
    gap: 0.5rem;
    display: flex;
    padding: 1rem;
}

.container-pesquisa-conteudo input{
    width: 30%;
    padding: 3 rem;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: var(--cinza);
    color: var(--texto);
    text-align: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=228793"), auto;
}

.container-pesquisa-conteudo input::placeholder{
    color: var(--cinza-light);
    font-style: italic;
}

.pesquisa-button{
    background-color: var(--azul);
    border: none;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa-button:hover{
    background-color: var(--azul-secundario);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=228789"), auto;
}

.footer {
    padding: 1rem 2rem 2rem 2rem;
    border-top: 2px solid var(--azul);
    text-align: center;
    color: var(--cinza-light);
    background-color: var(--preto);
    overflow: hidden;
    flex-direction: column; 
    align-items: center;   
    gap: 0.5rem;            
}

.footer p {
    font-size: 0.8rem;
    margin: 0;
    margin-left: 25px;
    animation: pulse 2s ease-in-out infinite;
}

.footer .heart {
    animation: pulse 2s ease-in-out infinite;
    animation-delay: 0.2s; 
}
.footer .github {
    color: var(--cinza-light);
    font-size: 2rem; 
    text-decoration: none;
    transition: color 0.3s;
}

.footer .github:hover {
    color: var(--azul);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/*cards*/
#filmesGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    transition: opacity 0.3s ease, transform 0.3 ease;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 2px var(--azul-secundario);
    border-radius: 10px;
    gap: 1rem;
    position: relative; 
    overflow: hidden; 
}


.card:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=228789"), auto;
}

.card img{
    height: 500px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3, 
.card p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    opacity: 0;
}


/*detalhes*/
.detalhe-card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    margin-top: 1rem;   
    background-color: var(--grafite);
    border: solid 2px var(--azul-secundario);
    justify-content: center;
}

.detailsContainer img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;             
}

.detailsContainer .text {
    max-width: 600px;
    color: var(--texto);           
}


.info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.info h2 {
    font-size: 2rem;
    color: var(--azul);
}

.info p {
    font-size: 1.2rem;
    color: var(--cinza-light);
    alingn-self: center;
    
}

.fade-in{
    opacity: 0;
    transform: translateY(10px);
}

.fade-out{
    opacity: 1;
    transform: translateY(0);
}

.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin: 2rem 0;
}

#botaoVoltar, 
#botaoProximo {
    background-color: var(--azul);
    border: none;
    padding: 12px 28px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#botaoVoltar:hover, 
#botaoProximo:hover {
    transform: translateY(-3px);
    background-color: var(--azul-secundario);
}

#botaoVoltar:active, 
#botaoProximo:active {
    transform: scale(0.95);
}


/*responsivo (arrumar depois)*/
@media (max-width: 480px) {
    /* Header */
    .container-header-conteudo {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    /* Pesquisa Section */
    .pesquisa-section {
        display: flex;
        justify-content: center;  /* centraliza horizontalmente */
        align-items: center;
        width: 100%;
        margin-top: 5rem;       /* distância do header */
        padding: 0.5rem;
    }

    .container-pesquisa-conteudo {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        width: 90%;
        max-width: 400px;
    }

    .container-pesquisa-conteudo input {
        width: 70%;
        padding: 0.5rem;
        font-size: 0.9rem;
        margin: 0;  /* centralização pelo container */
    }

    .container-pesquisa-conteudo .pesquisa-button {
        height: 40px;
        width: 40px;
        padding: 0;
    }

    /* Grid de filmes */
    #filmesGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1rem;
        padding: 1rem;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    main {
        padding: 150px 1rem 1rem 1rem;
    }

    .logo span {
        display: none;
    }
}


